.pokemonNumber {
  font-size: 1rem;
}

.pokemonName {
  font-size: 3rem;
  font-weight: 800;
}

.pokemonStats {
  display: none;
}

.pokemonTypeNodes {
  display: flex;
  gap: 0.3rem;
}

.infoContainer {
  display: flex;
  gap: 3.5rem;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.pokemonContainer {
  width: 240px;
  height: 37.5rem;
  padding: 6.438rem 0 0 0;
  color: #ffffff;
  position: relative;
}

.pokemonRightSide {
  display: flex;
  position: absolute;
  top: 16rem;
  left: 6rem;
}

.info {
  display: block;
}

.japoneseName {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  color: #000000;
  opacity: 0.6;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .pokemonContainer {
    width: 1000px;
    padding: 8rem;
  }

  .pokemonStatsContainer {
    position: relative;
  }

  .pokemonStats {
    display: block;
    width: 180px;
    height: 100%;
  }

  .statsContainer {
    padding-left: 1.563rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }

  .statsContainer::before {
    content: "";
    height: 80%;
    opacity: 60%;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 2px;
  }

  .individualStats {
    font-size: 0.8rem;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    color: black;
  }

  .pokemonRightSide {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11rem;
    left: 78%; /* 80rem */
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .japoneseName {
    font-size: 5rem;
    bottom: 18rem;
    left: 10rem;
  }
}
