@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
}

:root {
  /* BACKGROUND COLORS */
  --ninetales-background-color: #b1caeb;
  --giratina-background-color: #60605f;
  --serperior-background-color: #8abe9e;
  --umbreon-background-color: #525963;
  --shinx-background-color: #6a909d;
  --thundurus-background-color: #a8d2e1;
}
