@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

.main {
    font-family: 'Inter', sans-serif;
    background-color: var(--ninetales-background-color);
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonNumber {
    font-size: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
}

.container {
    width: 240px;
    height: 37.5rem;
    padding: 6.438rem 0 0 0; 
    color: #FFFFFF;
    position: relative;
}

.infoContainer {
    display: relative;
    font-size: 1rem;
    margin-top: 0.375rem;
    display: flex;
    gap: 3.375rem;
}

.verticalText {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.image {
    top: 40%;
    position: absolute;
    height: 22rem;
    width: 17rem;
}

.pokemonType {
    display: flex;
    position: absolute;
    top: 16rem;
    left: 6rem;
}

.japoneseName{
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    color: #000000;
    opacity: 0.6;
    width: auto;
}

.pokemonStats {
    display: none;
}

@media only screen and (min-width: 1024px)  {

    .container {
        width: 1000px;
        padding: 8rem;
    }
    .infoContainer {
        margin-top: 7.188rem;
    }

    .japoneseName {
        font-size: 5rem;
        bottom: 18rem;
        left: 10rem;
    }

    .image {
        top: 20%;
        height: 30rem;
        width: 30rem;
        left: 18rem
    }

    .pokemonType {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11rem;
        left: 78%; /* 80rem */
    }

    .pokemonStats {
        display: block;
        width: 180px;
        height: 100%;
    }

    .statsContainer {
        padding-left: 1.563rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }

    .statsContainer::before {
        content: '';
        height: 80%;
        opacity: 60%;
        width: 2px;
        background-color: white;
        position: absolute;
        left: 2px;
    }

    .individualStats {
        font-size: 0.8rem;
        padding: 8px;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        background-color: white;
        color: black;
    }

    .testep {
        position: relative;
    }
}

@media only screen and (min-height: 601px) {
    .main {
        height: 100vh;
    }
}